<!DOCTYPE HTML> 
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>sachleen</title>
<link rel="stylesheet" href="template/css/style.css" type="text/css" media="screen, print" />
<script src="template/js/jquery.min.js"></script>
<script src="template/js/main.js"></script>
<script>
$(function() {
    gallery($(".gallery img"));
});
</script>

</head>
<body>

<div id="container">
	<div id="content">
        <? foreach($index_posts as $post): ?>
        <div class="post">
            <h1><a href="<? echo($post['slug']); ?>.html" rel="bookmark" title="<? echo($post['title']); ?>"><strong><? echo($post['title']); ?></strong></a></h1>
            <div class="entry">
                <? echo($post['content']); ?>
            </div>
            <div class="postInfo">
                <? echo($post['date']); ?>
            </div>
        </div>
        <? endforeach; ?>
        
        <div id="archive">
        <? foreach($archive as $post): ?>
            <h1><a href="<? echo($post['slug']); ?>.html" rel="bookmark" title="<? echo($post['title']); ?>"><strong><? echo($post['title']); ?></strong></a> <span class="date"><? echo($post['date']); ?></span></h1>
        <? endforeach; ?>
        </div>
    </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
var pageTracker = _gat._getTracker("UA-2893329-1");
pageTracker._trackPageview();
</script>

</body>
</html>