<!DOCTYPE HTML> 
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$post.title}</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, print" />
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script>
$(function() {
    gallery($(".gallery img"));
});
</script>

<div id="container">
	<div id="content">
        <div class="post">
            <h1><a href="index.html"><img src="images/back.gif" alt="back" /></a> <strong>{$post.title}</strong></h1>
            <div class="entry">
                {$post.content}
            </div>
            <div class="postInfo">
                {$post.date}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
var pageTracker = _gat._getTracker("UA-2893329-1");
pageTracker._trackPageview();
</script>

</body>
</html>